* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}

.logo {
  font-size: 8em;
  font-family: Impact, sans-serif;
  margin: 20px auto;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  text-shadow: -5px -5px 0 #000, 5px -5px 0 #000, -5px 1px 0 #000,
    5px 5px 0 #000;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 180px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  transition: background 0.3s;
  width: 100%;
  text-align: center;
}

.button:hover {
  background-color: #555;
}
